<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShreyaAndroidBootCamp"
        tools:targetApi="31">
        <activity
            android:name=".topics.autotext.AutoTextActivity"
            android:exported="false" />
        <activity
            android:name=".topics.customToast.CustomToastActivity"
            android:exported="false" />
        <activity
            android:name=".topics.progressbar.CircularViewBarActivity"
            android:exported="false" />
        <activity
            android:name=".topics.tablayout.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".topics.progressbar.ProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".topics.dateTime.DateTimeActivity"
            android:exported="false" />
        <activity
            android:name=".topics.scrollview.VerticleActivity"
            android:exported="false" />
        <activity
            android:name=".topics.scrollview.HorizontalActivity"
            android:exported="false" />
        <activity
            android:name=".topics.scrollview.ScrollActivity"
            android:exported="false" />
        <activity
            android:name=".topics.listview.ListActivity"
            android:exported="false" />
        <activity
            android:name=".topics.radiobutton.RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".topics.toast.ToastActivity"
            android:exported="false" />
        <activity
            android:name=".topics.checkbox.CheckboxActivity"
            android:exported="false" />
        <activity
            android:name=".topics.fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".topics.recyclerview.RecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".topics.activity.ThirdPageActivity"
            android:exported="false" />
        <activity
            android:name=".topics.activity.SecondPageActivity"
            android:exported="false" />
        <activity
            android:name=".topics.activity.FirstPageActivity"
            android:exported="false" />
    </application>

</manifest>